# 注意: このファイルは例（サンプル）です！
# 実際にこれらの設定を変更するには、次のどれかができます：
# このファイルを別の場所にコピーし、編集した上で、別の cfg ファイルから実行する
# 設定したい個別の convar だけをコピーして編集する
# または、このファイル自体を変更し、別の cfg ファイルから exec @loadscreen/loadscreen.cfg コマンドで直接実行する

# 他のリソースがロード画面の終了処理（shutdown）を扱ってよいかどうか
setr loadscreen:externalShutdown false

# ロード画面に読み込むスタイル（classic / modern / minimal）
# カスタムスタイルは @loadscreen/html/styles に追加可能です
set loadscreen:style "modern"

# 画面の背景に使うもの（"image" / "video" / "embed"、またはCSS背景）。
# CSS背景の例: "linear-gradient(-15deg, rgb(5, 0, 7.5) 0%, rgb(15, 10, 25) 100%)"
# カスタム画像は `@loadscreen/html/assets/images` に追加できます。
# カスタム動画は `@loadscreen/html/assets/videos` に追加できます。
# embed は `loadscreen:embedLink` の convar で指定できます。
# カスタム動画が動かない場合は、別のコーデック/形式（例: webm）に変換してみてください。
set loadscreen:background "image"

# 背景の明るさ（パーセンテージ）。
set loadscreen:backgroundBrightness 30

# 画面のテキスト色（CSSの色）。
set loadscreen:textColor "rgb(250, 250, 250)"

# 画面のプライマリ色（CSSの色）。
# ローディングバーで使用されます。
set loadscreen:primaryColor "rgb(64, 64, 255)"

# 画面のセカンダリ色（CSSの色）。
# オーディオコントロール、エラーログの枠、音量スライダーの一部で使用されます。
set loadscreen:secondaryColor "rgb(64, 64, 64)"

# 画面の影の色（CSSの色）。
# ローディングバーとオーディオコントロールで使用されます。
set loadscreen:shadowColor "rgba(8, 8, 16, 0.5)"

# 画面で使うフォントファミリー（CSSのfont-family）。
set loadscreen:fontFamily "'Segoe UI', Arial, Helvetica, sans-serif"

# サーバーメッセージと一緒にロゴを表示するかどうか。
# ロゴは `@loadscreen/html/assets` に追加できます。
# 画像は `logo` という名前にし、Webで対応している拡張子を使用してください。
set loadscreen:logo true

# 読み込み中に表示するメッセージ。
# 使用可能な変数:
# ${playerName} - プレイヤー名
# ${serverName} - sv_projectName 変数（利用できない場合は sv_hostname）
set loadscreen:serverMessage "${serverName}へようこそ!"

# プライマリのローディングバーを表示するかどうか。
set loadscreen:primaryBar true

# セカンダリのローディングバーを表示するかどうか。
set loadscreen:secondaryBar false

# セカンダリバー付近に現在のローディング動作を表示するかどうか（例: `INIT_FUNCTION`）。
set loadscreen:loadingAction false

# FiveM がスクリプト読み込み待ちのときに表示するメッセージ。
set loadscreen:finishingMessage "読み込み中..."

# 終了メッセージと一緒に現在のログ行を表示するかどうか（例: `Awaiting Scripts`）。
set loadscreen:logLine true

# FiveM のロード完了後に、別のリソースが画面を閉じる必要がある場合のメッセージ（`loadscreen:externalShutdown` が true のとき）。
set loadscreen:finishedMessage "読み込みが完了しました!"

# FiveM のロード完了後に、別のリソースが画面を閉じる必要がある場合の追加表示（`loadscreen:externalShutdown` が true のとき）。
set loadscreen:finishedLine "すぐに読み込みが完了します..."

# 背景で音楽や動画が利用可能なときにオーディオコントロールを表示するかどうか（推奨）。
set loadscreen:audioControls true

# 音をミュート/ミュート解除するキー。
set loadscreen:audioMuteKey "Space"

# オーディオコントロールが有効な場合、プレイヤーが設定した音量を記憶するかどうか（推奨）。
set loadscreen:rememberVolume true

# NUIでエラーが発生したときにエラーログを表示するかどうか（推奨）。
set loadscreen:errorLog true

# 背景の音量（音楽 & 動画）の初期値（0 - 100）。
set loadscreen:initialAudioVolume 30

# 画面で音楽を有効にするかどうか。
# カスタム音楽は `@loadscreen/html/assets/music` に追加できます。
set loadscreen:music true

# 再生時に音楽をランダムにシャッフルするかどうか。
set loadscreen:musicShuffle false

# 画像を切り替える間隔（ミリ秒）。
set loadscreen:imageRate 7500

# 表示時に画像をランダムにシャッフルするかどうか。
set loadscreen:imageShuffle false

# 表示時に動画をランダムにシャッフルするかどうか。
set loadscreen:videoShuffle false

# `loadscreen:background` が "embed" のときに、背景で再生する埋め込みリンク。
set loadscreen:embedLink "https://youtu.be/CaTPOVC96XI?si=1a8D8XO9qUUlmGXO&autoplay=1&loop=1"

# 背景の埋め込み（embed）でマウスクリックを有効にするかどうか。
set loadscreen:embedAccess true
